

<form method="POST" path="('/movie')">
<input type="text" name="search_movie">
<button name="submit"> </button>

<select name="selected">
     <option value="" {{ selected }}></option> 
        {% set selected = '' %}
    {% for d in drugi %}
          <option value="{{d.tip}}">{{d.tip}}</option>
    {% endfor %}
</select>
</form>

<ul>
{% for trazi in trazis %}
  <li>{{ trazi.nesto }}</li>
{% endfor %}
</ul>


<ul>
{% for data in datas %}
  <li>{{ data.filmime }}</li>
  <li>{{ data.opis}}</li>
 <li><img src="{{ data.slika|file_url }}"/></li>
  <li>{{ data.type }}</li>
{% endfor %}

</ul>

{{ form.pager }}

