

<form method="POST" path="('/getIds')">
<input type="text" name="search_movie">
<button name="submit"> </button>

<select name="selected">
     <option value="" {{ selected }}></option> 
        {% set selected = '' %}
    {% for type in types %}
          <option value="{{type.zanr}}">{{type.zanr}}</option>
    {% endfor %}
</select>
</form>

<ul>
{% for find in finds %}
  <li>{{ find.search }}</li>
{% endfor %}
</ul>


<ul>
{% for data in datas %}
  <li>{{ data.filmime }}</li>
  <li>{{ data.opis}}</li>
 <li><img src="{{ data.slika|file_url }}"/></li>
  <li>{{ data.type }}</li>
{% endfor %}

</ul>

{{ form.pager }}

